/* 🧼 CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🆎 Import Google Fonts */
@font-face {
  font-family: 'Victor Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/victor-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* #region 🎨 Commons */

/* 🎨 Custom color palette */
:root {
  --dark-color: #15274e;
  --dark-color-opacity: #15274ee2;
  --light-color: #ceeffe;
  --light-color-opacity: #ceeffee2;
  --accent-color: #2cc1d7;
  --accent-color-opacity: #2cc1d7e2;
  --accent-color-light: #6ee3f5;
  --accent-color-light-opacity: #6ee3f5e2;
}

/* 🎨 Custom inputs accent color */
input {
  accent-color: var(--accent-color);
}

/* #endregion Commons */

/* Body */
body {
  width: 100%;
  font-family: 'Victor Mono Variable', monospace;
  font-size: 16px;
  background-image: url('../img/hf-sea.svg');
  background-size: cover;
  background-position: center 0% top 0%;
  transition: all 0.3s ease;
}

/* 🫅 Header */
header {
  background-color: var(--dark-color-opacity);
  backdrop-filter: blur(5px);
  color: var(--light-color);
  padding: 20px 25px;
  margin-bottom: 30px;
}

/* #region Main */
main {
  padding: 0 1rem;
  color: var(--dark-color);
}

/* #region 🪮 Filtering Form */
.form_container {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
  justify-content: center;

  /* inputs container */
  .inputs_container {
    display: flex;

    /* 🅿️ parking filtering section */
    .parking_search_container {
      color: var(--light-color);
      background-color: var(--dark-color-opacity);
      backdrop-filter: blur(5px);
      display: flex;
      flex-wrap: nowrap;
      gap: 0.5rem;
      border: 2px outset var(--dark-color);
      border-radius: 0.375rem;
      padding: .25rem .75rem;

      /* input check */
      #parcheggio {
        cursor: pointer;
      }

      #parcheggio:not(:checked) {
        display: none;
      }

    }

    /* ⭐ Vote filtering section */
    #vote_search_container {
      color: var(--light-color);
      background-color: var(--dark-color-opacity);
      backdrop-filter: blur(5px);
      border: 2px outset var(--dark-color);
      border-radius: 0.45rem;
      padding: .35rem .75rem .5rem .75rem;

      /* vote label */
      label {
        padding-bottom: 0.35rem;
      }

      /* dropdown menu */
      select.form-custom {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: var(--light-color);
        background-image: url('../img/chevron-compact-down.svg');
        background-repeat: no-repeat;
        background-position: right .75rem center;
        display: block;
        cursor: pointer;
        outline: none;
        border: 1px solid var(--dark-color);
        border-radius: 0.375rem;
        padding: .25rem 2.25rem .25rem .75rem;
        height: 2rem;
      }

      select:focus,
      select:hover {
        font-weight: bold;
        outline: none;
        border-color: var(--accent-color);
        box-shadow: 0 0 0 0.25rem var(--accent-color-opacity);
      }
    }

    /* 📤 Submit button */
    button[type="submit"] {
      color: var(--light-color);
      background-color: var(--dark-color-opacity);
      backdrop-filter: blur(5px);
      border-color: var(--dark-color);
      border-radius: 0.375rem;
      padding: .25rem .75rem;
      cursor: pointer;
    }

    /* form common hover effects */
    button:hover,
    div.parking_search_container:hover {
      background-color: var(--accent-color);
      color: var(--dark-color);
      font-weight: bold;
    }
  }
}

/* 🪮↔️ form custom responsiveness rules */

/* small screens */
@media screen and (max-width: 576px) {
  .inputs_container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    /* 👇 change sections order */

    .vote_search_container {
      order: 0;
    }

    .parking_search_container {
      order: 1;
    }

    .submit_button_container {
      order: 2;
    }
  }
}

/* medium screens */
@media screen and (min-width: 576px) {
  .inputs_container {
    flex-wrap: nowrap;
    align-items: center;
    gap: 3rem;
  }
}

/* large screens */
@media screen and (min-width: 992px) {
  .inputs_container {
    gap: 4rem;
  }
}

/* larger screens */
@media screen and (min-width: 1200px) {
  .inputs_container {
    gap: 5rem;
  }
}

/* #endregion */

/* #region 🏨 Hotels List */

/* container */
div.hotels_table {
  max-width: 1048px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 1rem;
}

/* #region rows */

div.row {
  padding: 0.5rem;
  backdrop-filter: blur(5px);
}

/* style first row */
div.hotels_table>div.row:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

/* color odd rows */
div.hotels_table>div.row:nth-child(odd) {
  background-color: var(--accent-color-light-opacity);
}

/* color even rows */
div.hotels_table>div.row:nth-child(even) {
  background-color: var(--light-color-opacity);
}

/* style last row */
div.hotels_table>div.row:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

/* #endregion rows */

/* #endregion hotels list */

/* #endregion Main */